* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Times New Roman', serif;
}

.container {
    background-color: #e5e5fd;
    border: 10px solid #1d1e4c;
    display: flex;
    justify-content: center;
    padding: 0;
}

.wrap {
    width: 100%; /* Adjust as needed */
    max-width: 1200px; /* Adjust as needed */
}

.head {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
}

.photo {
    background-image: url("apj.jpg");
    width: 300px;
    height: 320px;
    border-radius: 50%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.name {
    text-align: center;
    margin-left: 10px; /* Adjust as needed */
}

h1 {
    color: #1d1e4c;
    font-size: 36px; /* Adjust as needed */
    font-weight: bold;
}

.year {
    font-size: 24px; /* Adjust as needed */
    font-weight: 700;
}

.caption {
    font-size: 36px; /* Adjust as needed */
    font-weight: 400;
    margin-bottom: 20px;
}

span {
    font-weight: 600;
}

.para {
    font-size: 18px; /* Adjust as needed */
    line-height: 1.6;
    letter-spacing: 0.8px;
    text-align: justify;
}

.biographies {
    margin: 30px 0;
}

h3 {
    font-size: 20px; /* Adjust as needed */
    margin-bottom: 15px;
}

ul {
    font-size: 16px; /* Adjust as needed */
    margin-left: 20px; /* Adjust as needed */
}

li {
    margin-bottom: 10px; /* Adjust as needed */
}

footer {
    font-size: 14px; /* Adjust as needed */
    text-align: center;
    margin-top: 30px; /* Adjust as needed */
}
